.wrapper {
  margin: auto;
  width: 1000px;
}
.filterRow {
  display: flex;
  padding-left: 15px;
}
.projectWrapper {
  column-width: 30%;
  column-count: 3;
}
.filter {
  background-color: #fff;
  color: #838383;
  border-color: #838383;
  border: 1px solid;
  min-width: 40px;
  height: 30px;
  font-weight: bold;
  margin: 20px 2px;
}
.selected {
  background-color: #555;
  color: #fff;
}
.projectsImg {
  width: 300px;
  margin: 15px ;
  height: auto;
}